<html>
  <head>
    <title>Poached Aviators</title>
    <link rel="stylesheet" type="text/css" href="splash.css" />
  </head>
  <body>
    <h1>Who among us has not dreamed of conquering the skies?</h1>
    <ul>
      <li>
        <div class="faith">The Goal</div>
        <div class="hope">To build a glider that can convey an egg, unharmed, the farthest</div>
      </li>
      <li>
        <div class="faith">The Terms</div>
        <div class="hope">Gliders will be restricted in mass, building material, and launch mechanism. They must include a cockpit into and from which an intact egg may be placed and retrieved.
      </li>
    </ul>
  </body>
</html>
